.video-wrapper{
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: 10% 90%;
    height: 100vh;
}
.video-main{
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 100%;
    overflow: scroll;
}
.video-left{
    /* border: 1px solid red; */
}
.video-right{
    /* border: 1px solid red; */
    display: grid;
    grid-template-rows: 10% 90%;
    grid-template-columns: 100%;
    row-gap: 1rem;
    /* overflow: scroll; */
}
.right-nav{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.right-suggestion-videos{
    /* border: 1px solid red; */
    display: grid;
    row-gap: 0.7rem;
    grid-template-rows: repeat(6, 25%);
    /* overflow: scroll; */
    grid-template-columns: 100%;
}
.suggest-video{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 100%;
}
.suggest-thumpnail{
    /* border: 1px solid red; */
    position: relative;
}
.suggest-thumpnail img{
    width: 100%;
    height: 100%;
    border-radius: 0.4rem;
}
.suggest-thumpnail p{
    position: absolute;
    top: 78%;
    right: 5%;
    font-size: 0.7rem;
    background: #000000bc;
    padding: 0.1rem 0.5rem;
    letter-spacing: 1px;
    border-radius: 0.5rem;
    color: white;
    /* font-weight: 600; */
}
.suggest-contents{
    display: grid;
    grid-template-columns: 90% 10%;
    /* border: 1px solid blue; */
}
.suggest-content-content h3{
    font-size: 1rem;
    font-weight: 600;
}
.suggest-content-content{
    padding-left: 0.5rem;
}
.suggest-content-content h6{
    font-size: 0.8rem;
}
.suggest-content-content p{
    font-size: 0.7rem;
    padding: 0;
}
.suggest-content-menu{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
}
.suggest-content-chimg {
    display: none;
}